@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.d3{
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
}

.d4{
    font-size: 30px;
    margin-bottom: 10px;
}

#lo{
    height: 450px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(122, 138, 138);
    font-size: 50px;
}